/* estilo del footer */
.foot-container {
  /* color de fondo */
  background-color: var(--footer-color);
  /* ancho total */
  width: 100%;
  /* un relleno de 15 pixeles */
  padding: 15px;
  /* alineamos el texo al centro del contenedor */
  text-align: center;
}
footer {
  /* estilo de la fuente */
  font-style: italic;
  /* grosor de la fuente */
  font-weight: bold;
  /* color de la fuente */
  color: var(--font-container-color);
}