/* estilo de la barra de navegacion */
.nav-container {
  /* color de fondo del contenedor de la barra de navegacion */
  background-color: var(--nav-color);
  /* alto de la barra de navegacion */
  height: 60px;
  /* ancho de la barra de navegacion */
  width: 100%;
  /* fijar la posicion superor ixquierda de la barra de navegacion */
  position: fixed;
  top: 0px;
  left: 0px;
}
.nav-menu {
  /* tipo de visualizacion: flexible */
  display: flex;
  /* Distribuir items uniformemente: El primer item al inicio, el último al final */
  justify-content: space-between;
  /* breakpoints */
  max-width: 992px;
  /* margenes lateral centrado */
  margin: 0 auto;
}
.nav-list {
  /* tipo de visualizacion: flexible*/
  display: flex;
  /* margen derecho */
  margin-right: 40px;
  /* quitamos los puntos de los item de la lista */
  list-style: none;
}
.nav-item {
  /* tamaño de texto */
  font-size: 18px;
  /* margenes laterales */
  margin: 0 10px;
  /* alto superior */
  line-height: 60px;
  /* transforma el texto en mayusculas */
  text-transform: uppercase;
  /* para que no se corte el contenido */
  width: max-content;
}
.nav-logo {
  display: flex;
  align-items: center;
  /* font-weight: 500; */
  /* tamaño de fuente */
  font-size: 18px;
  /* letras en negritas */
  /* font-weight: bold; */
  /* relleno  laterales del logo*/
  padding: 0 40px;
  /* alto superior del logo */
  line-height: 60px;
}
.logotipo {
  display: flex;
  align-items: center;
}
.nav-link {
  /* color de texto de los enlaces */
  color: var(--body-color);
  /* eliminamos la decoracion del texto */
  text-decoration: none;
}
.link-hover {
  /* rellno de los links */
  padding: 8px 12px;
  /* bordes redondeados */
  border-radius: 3px;
}
.link-hover:hover {
  /* el color de fondo cuando el cursor pase por encima */
  background-color: #1d3557;
  /* tansicio de medio segundo */
  transition: 0.5s;
}
.nav-button {
  /* color del icono */
  color: #f1faee;
  /* quitar el fondo del boton */
  background: none;
  /* quitar el borde del boton */
  border: none;
  /* tmaño del icono para el boton */
  font-size: 30px;
  /* relleno del icono */
  padding: 0 40px;
  /* alto superior del icono */
  line-height: 65px;
  /* cursor */
  cursor: pointer;
  /* desaparece el icono en modo escritorio */
  display: none;
}
/* ------------------------------------------------------- */
/* media query */
@media (max-width: 768px) {
  /* barra de navegacion modo tablet */
  .nav-list {
    /* direccion de la visualizacion */
    flex-direction: column;
    /* margenes */
    margin: 0px;
    /* color de fondo del menu lateral */
    background-color: #1d3557;
    /* posicion */
    position: fixed;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    /* alineacion de los items */
    align-items: center;
    /* quitar relleno */
    padding: 20px 0;
    /* barra deslizadora lateral */
    overflow-y: auto;
    /* esconder el menu */
    left: 100%;
    transition: left 0.5s;
  }
  /* color de fondo al pasar el cursos por encima modo tablet */
  .link-hover:hover {
    /* quitamos el color de fondo en modo tablet */
    background: none;
    /* resaltamos el color del texto */
    color: #457b9d;
  }
  .nav-button {
    /* se muestra el boton delmenu lateral */
    display: block;
  }
  .list-visible {
    /* la barra de navegacion se desplaza todo hast ala izquieda en modo tablet */
    left: 0;
  }
  .nav-button:focus:not(:focus-visible) {
    outline: none;
  }
}
