/* estilo globales */
* {
    margin: 0px;
    /* padding: 0px; */
    box-sizing: border-box;
}
/* estilo por defecto para todo el cuerpo */
body {
    font-family: sans-serif;
    /* border: 1px solid black; */
}
/* estilo de la barra de navegacion */
.nav-menu {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}
.nav-list {
    list-style: none;
    display: flex;
}
.nav-item {
    border: 1px solid black;
}
/* estilo del contenedor principal */
.container {
    width: 90%;
    margin: auto;
    border: 1px solid black;
}
/* estilo deacerca */
.acerca-container {
    border: 1px solid black;
    
}
/* estilo de habilidades*/
/* estilo de proyectos */
/* estilo de contacto */
/* estilo del footer */
.foot-container {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    background-color: lightslategrey;
}
footer {
    /* background-color: red; */
    margin: auto;
    padding: 10px;
}
/* ------------------------------------------------------- */
/* media query */