:root {
  /* primer paleta de colores */
  --nav-color: #457b9d;
  --body-color: #a8dadc;
  --font-container-color: #f1faee;
  --footer-color: #1D3557;
  --button-color: #e63946;
}
/* estilo globales */
* {
  /* quitamos los margenes */
  margin: 0px;
  /* quitar los relleno */
  padding: 0px;
  /* el relleno y borde estan al borde de la caja */
  box-sizing: border-box;
}
/* estilo por defecto para todo el cuerpo */
body {
  /* color de fondo del cuerpo */
  background-color: var(--body-color);
  /* fuente de la pagina */
  font-family: sans-serif;
  /* posicion del cuerpo */
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}